.App {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
  padding: 10px;
  cursor: pointer;
  background-color: #f4f4f4;
}

li:hover {
  background-color: #ddd;
}

.correct {
  background-color: #4caf50; /* Green for correct answers */
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.incorrect {
  background-color: #f44336; /* Red for incorrect answers */
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.button-disable {
  border: none; /* Remove borders */
  padding: 12px 24px; /* Some padding */
  font-size: 16px; /* Increase font size */
  cursor: pointer; /* Pointer/hand icon */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow */
  cursor: not-allowed;
}

.button {
  background-color: #4caf50; /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 24px; /* Some padding */
  font-size: 16px; /* Increase font size */
  cursor: pointer; /* Pointer/hand icon */
  border-radius: 8px; /* Rounded corners */
  transition: background-color 0.3s, transform 0.2s; /* Smooth transitions */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

/* Darker background on hover */
.button:hover {
  background-color: #45a049; /* Darker green */
  transform: translateY(-2px); /* Slight lift on hover */
}

/* Add active state */
.button:active {
  background-color: #3e8e41; /* Even darker green */
  transform: translateY(0); /* Return to original position */
}

.start-quiz {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 75vh;
}

.start-quiz button {
  margin-top: 20px;
  margin-right: 21px;
}

.start-quiz input {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.timer {
  color: #1e88e5;
}
